.dark {
    --bg-color: #2b2b2b;
    --text-color: #e5e7eb;

    --primary: #FCDD12;
    --dark-white: #B8B8B8;
    --light-black: #2B2B2B;
    --dark-black: #212121;
    --light-white:#FFFFFF;
  }

  .dark :root {
    color: var(--light-white);
    background-color: var(--bg-color);  
  }
  
  .dark body {
    background-color: var(--bg-color);
    color: var(--light-white);
  }

  .dark button {
    cursor: pointer;
    color: var(--light-white);
    transition: border-color 0.25s; 
  }

  .dark a {
    font-weight: 500;
    color: var(--light-white);
    text-decoration: inherit;
  }