.dark {
    --bg-color: #1f2937;
    --text-color: #e5e7eb;
  }

  .dark :root {
    color: var(--text-color);
    background-color: var(--bg-color);  
  }
  
  .dark body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .dark button {
    cursor: pointer;
    color: var(--text-color);
    transition: border-color 0.25s; 
  }