@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'League Spartan', sans-serif;
font-family: 'Open Sans', sans-serif; */


:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(11, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #2b2b2b;
  --text-color: #e5e7eb;

  --primary: #FCDD12;
  --dark-white: #B8B8B8;
  --light-black: #2B2B2B;
  --dark-black: #212121;
  --light-white:#FFFFFF;

}

a {
  font-weight: 500;
  color: var(--dark-black);
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  transition: border-color 0.25s; 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


